In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('thresh').getOrCreate()

In [34]:
van=spark.read.csv("C:\\Users\\AVG001\\Desktop\\company.csv",inferSchema=True,header=True)

In [5]:
spark

In [35]:
van.show()

+-------+---+----------+------+
|   name|age|experience|salery|
+-------+---+----------+------+
|     jp| 20|         1| 40000|
| vamshi| 21|         2| 30000|
|akshith| 20|         2| 20000|
|  srvan| 20|         1| 20000|
|  shiva| 21|      NULL| 25000|
|   NULL| 21|         2| 18000|
|   NULL| 26|      NULL|  NULL|
+-------+---+----------+------+

In [36]:
van.show(2)

+------+---+----------+------+
|  name|age|experience|salery|
+------+---+----------+------+
|    jp| 20|         1| 40000|
|vamshi| 21|         2| 30000|
+------+---+----------+------+
only showing top 2 rows

In [37]:
van.select("age").show()

+---+
|age|
+---+
| 20|
| 21|
| 20|
| 20|
| 21|
| 21|
| 26|
+---+

In [38]:
van.select(['age','name']).show()

+---+-------+
|age|   name|
+---+-------+
| 20|     jp|
| 21| vamshi|
| 20|akshith|
| 20|  srvan|
| 21|  shiva|
| 21|   NULL|
| 26|   NULL|
+---+-------+

In [39]:
 van.columns

['name', 'age', 'experience', 'salery']

In [40]:
van.show()

+-------+---+----------+------+
|   name|age|experience|salery|
+-------+---+----------+------+
|     jp| 20|         1| 40000|
| vamshi| 21|         2| 30000|
|akshith| 20|         2| 20000|
|  srvan| 20|         1| 20000|
|  shiva| 21|      NULL| 25000|
|   NULL| 21|         2| 18000|
|   NULL| 26|      NULL|  NULL|
+-------+---+----------+------+

In [41]:
van.columns

['name', 'age', 'experience', 'salery']

In [42]:
van.na.drop().show()

+-------+---+----------+------+
|   name|age|experience|salery|
+-------+---+----------+------+
|     jp| 20|         1| 40000|
| vamshi| 21|         2| 30000|
|akshith| 20|         2| 20000|
|  srvan| 20|         1| 20000|
+-------+---+----------+------+

In [43]:
van.na.drop(thresh=2).show()

+-------+---+----------+------+
|   name|age|experience|salery|
+-------+---+----------+------+
|     jp| 20|         1| 40000|
| vamshi| 21|         2| 30000|
|akshith| 20|         2| 20000|
|  srvan| 20|         1| 20000|
|  shiva| 21|      NULL| 25000|
|   NULL| 21|         2| 18000|
+-------+---+----------+------+

In [44]:
van.na.drop(how="any").show()

+-------+---+----------+------+
|   name|age|experience|salery|
+-------+---+----------+------+
|     jp| 20|         1| 40000|
| vamshi| 21|         2| 30000|
|akshith| 20|         2| 20000|
|  srvan| 20|         1| 20000|
+-------+---+----------+------+

In [45]:
van.na.drop(subset=['experience']).show()

+-------+---+----------+------+
|   name|age|experience|salery|
+-------+---+----------+------+
|     jp| 20|         1| 40000|
| vamshi| 21|         2| 30000|
|akshith| 20|         2| 20000|
|  srvan| 20|         1| 20000|
|   NULL| 21|         2| 18000|
+-------+---+----------+------+

In [46]:
van.na.fill("missing values").show()

+--------------+---+----------+------+
|          name|age|experience|salery|
+--------------+---+----------+------+
|            jp| 20|         1| 40000|
|        vamshi| 21|         2| 30000|
|       akshith| 20|         2| 20000|
|         srvan| 20|         1| 20000|
|         shiva| 21|      NULL| 25000|
|missing values| 21|         2| 18000|
|missing values| 26|      NULL|  NULL|
+--------------+---+----------+------+

In [31]:
from pyspark.ml.feature import Imputer

In [32]:
imputer=Imputer(inputCols=['age','experience','salery'],
                outputCols=["{}_imputed".format(c)for c in ['age','experience','salery']]).setStrategy("mean")

In [47]:
imputer.fit(van).transform(van).show()

+-------+---+----------+------+-----------+------------------+--------------+
|   name|age|experience|salery|age_imputed|experience_imputed|salery_imputed|
+-------+---+----------+------+-----------+------------------+--------------+
|     jp| 20|         1| 40000|         20|                 1|         40000|
| vamshi| 21|         2| 30000|         21|                 2|         30000|
|akshith| 20|         2| 20000|         20|                 2|         20000|
|  srvan| 20|         1| 20000|         20|                 1|         20000|
|  shiva| 21|      NULL| 25000|         21|                 1|         25000|
|   NULL| 21|         2| 18000|         21|                 2|         18000|
|   NULL| 26|      NULL|  NULL|         26|                 1|         25500|
+-------+---+----------+------+-----------+------------------+--------------+

In [48]:
van.filter("salery<=30000").show()

+-------+---+----------+------+
|   name|age|experience|salery|
+-------+---+----------+------+
| vamshi| 21|         2| 30000|
|akshith| 20|         2| 20000|
|  srvan| 20|         1| 20000|
|  shiva| 21|      NULL| 25000|
|   NULL| 21|         2| 18000|
+-------+---+----------+------+

In [50]:
 van.filter("salery>=25000").select(['name','age','salery']).show()

+------+---+------+
|  name|age|salery|
+------+---+------+
|    jp| 20| 40000|
|vamshi| 21| 30000|
| shiva| 21| 25000|
+------+---+------+

In [52]:
van.filter(van['salery']<=30000).show()

+-------+---+----------+------+
|   name|age|experience|salery|
+-------+---+----------+------+
| vamshi| 21|         2| 30000|
|akshith| 20|         2| 20000|
|  srvan| 20|         1| 20000|
|  shiva| 21|      NULL| 25000|
|   NULL| 21|         2| 18000|
+-------+---+----------+------+

In [53]:
van.filter((van['salery']<=40000)&(van['salery']>=20000)).show()

+-------+---+----------+------+
|   name|age|experience|salery|
+-------+---+----------+------+
|     jp| 20|         1| 40000|
| vamshi| 21|         2| 30000|
|akshith| 20|         2| 20000|
|  srvan| 20|         1| 20000|
|  shiva| 21|      NULL| 25000|
+-------+---+----------+------+

In [56]:
imputer=spark.read.csv("C:\\Users\\AVG001\\Desktop\\job.csv",inferSchema=True,header=True)

In [57]:
imputer.show()

+-------+-------------+------+
|   Name|  departments|salary|
+-------+-------------+------+
|     jp|data engineer|100000|
| vamshi| data science| 50000|
| vishnu|          iot| 40000|
|akshith|     big data| 35000|
|     jp|data engineer| 60000|
|  shiva|   web design| 45000|
|akshith|     big data| 75000|
| vamshi| data science| 50000|
|  shiva|   web design| 62000|
+-------+-------------+------+

In [58]:
imputer.columns

['Name', 'departments', 'salary']

In [60]:
imputer.select("name").show()

+-------+
|   name|
+-------+
|     jp|
| vamshi|
| vishnu|
|akshith|
|     jp|
|  shiva|
|akshith|
| vamshi|
|  shiva|
+-------+

In [61]:
imputer.select(['name','salary']).show()

+-------+------+
|   name|salary|
+-------+------+
|     jp|100000|
| vamshi| 50000|
| vishnu| 40000|
|akshith| 35000|
|     jp| 60000|
|  shiva| 45000|
|akshith| 75000|
| vamshi| 50000|
|  shiva| 62000|
+-------+------+

In [62]:
imputer.printSchema()

root
 |-- Name: string (nullable = true)
 |-- departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [63]:
imputer.groupBy('name').sum().show()

+-------+-----------+
|   name|sum(salary)|
+-------+-----------+
|akshith|     110000|
|     jp|     160000|
| vishnu|      40000|
| vamshi|     100000|
|  shiva|     107000|
+-------+-----------+

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("imputer").getOrCreate()

In [5]:
imputer=spark.read.csv("C:\\Users\\AVG001\\Desktop\\job.csv",inferSchema=True,header=True)

In [6]:
imputer.show()

+-------+-------------+------+
|   Name|  departments|salary|
+-------+-------------+------+
|     jp|data engineer|100000|
| vamshi| data science| 50000|
| vishnu|          iot| 40000|
|akshith|     big data| 35000|
|     jp|data engineer| 60000|
|  shiva|   web design| 45000|
|akshith|     big data| 75000|
| vamshi| data science| 50000|
|  shiva|   web design| 62000|
+-------+-------------+------+

In [9]:
imputer.groupBy("name").sum().show()

+-------+-----------+
|   name|sum(salary)|
+-------+-----------+
|akshith|     110000|
|     jp|     160000|
| vishnu|      40000|
| vamshi|     100000|
|  shiva|     107000|
+-------+-----------+

In [11]:
imputer.groupBy("departments").sum().show()

+-------------+-----------+
|  departments|sum(salary)|
+-------------+-----------+
|     big data|     110000|
| data science|     100000|
|          iot|      40000|
|   web design|     107000|
|data engineer|     160000|
+-------------+-----------+

In [12]:
imputer.groupBy('departments').mean().show()

+-------------+-----------+
|  departments|avg(salary)|
+-------------+-----------+
|     big data|    55000.0|
| data science|    50000.0|
|          iot|    40000.0|
|   web design|    53500.0|
|data engineer|    80000.0|
+-------------+-----------+

In [13]:
imputer.groupBy('departments').count().show()

+-------------+-----+
|  departments|count|
+-------------+-----+
|     big data|    2|
| data science|    2|
|          iot|    1|
|   web design|    2|
|data engineer|    2|
+-------------+-----+

In [14]:
imputer.groupBy("name").count().show()

+-------+-----+
|   name|count|
+-------+-----+
|akshith|    2|
|     jp|    2|
| vishnu|    1|
| vamshi|    2|
|  shiva|    2|
+-------+-----+

In [15]:
imputer.groupBy().count().show()

+-----+
|count|
+-----+
|    9|
+-----+

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('aggrate functions').getOrCreate()

In [3]:
imputer=spark.read.csv("C:\\Users\\AVG001\\Desktop\\job.csv",inferSchema=True,header=True)

In [4]:
imputer.show()

+-------+-------------+------+
|   Name|  departments|salary|
+-------+-------------+------+
|     jp|data engineer|100000|
| vamshi| data science| 50000|
| vishnu|          iot| 40000|
|akshith|     big data| 35000|
|     jp|data engineer| 60000|
|  shiva|   web design| 45000|
|akshith|     big data| 75000|
| vamshi| data science| 50000|
|  shiva|   web design| 62000|
+-------+-------------+------+

In [5]:
imputer.groupBy("departments").sum().show()

+-------------+-----------+
|  departments|sum(salary)|
+-------------+-----------+
|     big data|     110000|
| data science|     100000|
|          iot|      40000|
|   web design|     107000|
|data engineer|     160000|
+-------------+-----------+

In [6]:
imputer.groupBy("name").sum().show()

+-------+-----------+
|   name|sum(salary)|
+-------+-----------+
|akshith|     110000|
|     jp|     160000|
| vishnu|      40000|
| vamshi|     100000|
|  shiva|     107000|
+-------+-----------+

In [7]:
imputer.printSchema()

root
 |-- Name: string (nullable = true)
 |-- departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [8]:
imputer.agg({'salary':'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|     517000|
+-----------+

In [12]:
imputer.groupBy('name').min().show()

+-------+-----------+
|   name|min(salary)|
+-------+-----------+
|akshith|      35000|
|     jp|      60000|
| vishnu|      40000|
| vamshi|      50000|
|  shiva|      45000|
+-------+-----------+

In [14]:
mlalg=spark.read.csv("C:\\Users\\AVG001\\Desktop\\aurora.csv",inferSchema=True,header=True)

In [15]:
mlalg.show()

+-------+---+----------+------+
|   Name|age|Experience|salary|
+-------+---+----------+------+
| vishnu| 21|         2| 30000|
|     jp| 20|         4| 50000|
|shravan| 22|         3| 35000|
| vamshi| 23|         4| 30000|
|akshith| 23|         3| 35000|
|  shiva| 21|         3| 40000|
+-------+---+----------+------+

In [16]:
mlalg.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [18]:
mlalg.columns

['Name', 'age', 'Experience', 'salary']

In [21]:
    from pyspark.ml.feature import VectorAssembler

In [23]:
featureassembler=VectorAssembler(inputCols=['age','Experience'],outputCol="Independent Features")

In [25]:
output=featureassembler.transform(mlalg)

In [26]:
output.show()

+-------+---+----------+------+--------------------+
|   Name|age|Experience|salary|Independent Features|
+-------+---+----------+------+--------------------+
| vishnu| 21|         2| 30000|          [21.0,2.0]|
|     jp| 20|         4| 50000|          [20.0,4.0]|
|shravan| 22|         3| 35000|          [22.0,3.0]|
| vamshi| 23|         4| 30000|          [23.0,4.0]|
|akshith| 23|         3| 35000|          [23.0,3.0]|
|  shiva| 21|         3| 40000|          [21.0,3.0]|
+-------+---+----------+------+--------------------+

In [27]:
vector=output.select("salary","Independent Features")

In [28]:
vector.show()

+------+--------------------+
|salary|Independent Features|
+------+--------------------+
| 30000|          [21.0,2.0]|
| 50000|          [20.0,4.0]|
| 35000|          [22.0,3.0]|
| 30000|          [23.0,4.0]|
| 35000|          [23.0,3.0]|
| 40000|          [21.0,3.0]|
+------+--------------------+

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('aggrate functions').getOrCreate()

In [11]:
from pyspark.sql.types import StructType,StructField,IntegerType,StringType
hello=StructType([
       StructField("name",StringType(),True),
       StructField("rollno",IntegerType(),True),
       StructField("batchno",IntegerType(),True)
])

sales=spark.read.format('csv').option("inferSchema","true").schema(hello).load("C:\\Users\\AVG001\\Desktop\\with.csv")

In [6]:
sales.show()

+-------+------+-------+
|   name|rollno|batchno|
+-------+------+-------+
|     jp|     1|     89|
| vamshi|     2|     74|
|vishnu |     3|     76|
|akshith|     4|     70|
|shravan|     5|     75|
|  shiva|     6|     78|
+-------+------+-------+